{% extends "!footer.html" %}

{% set css_files = css_files + [ "_static/css/theme_overrides.css" ] %}


{% block extrafooter %}

<div role="contentinfo" font-size="11px">
    <div class="row">
        <div class="col-md-4" align="left" font-size="11px">
            <a href="https://gif.eos.ubc.ca/GIFtools/documentation">GIF Documentation Home</a> &nbsp; <span class="divider">|</span> &nbsp;
            <a href="https://gif.eos.ubc.ca/contact">Contact</a>
        </div>
        <br>
        <div class="col-md-8" align="left" font-size="11px">
    </div>
</div>
{% endblock %}

